{% extends 'base.html' %}

{% block title %}Search Contacts{% endblock %}

{% block content %}
<h2 class="mb-4">Search Contacts</h2>
<div class="form-container">
    <form method="POST" action="{{ url_for('search') }}">
        <div class="mb-3">
            <label for="registration_number" class="form-label">Registration Number</label>
            <input type="text" class="form-control" id="registration_number" name="registration_number" placeholder="Enter registrationNo"required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Search</button>
    </form>
</div>

<div class="search-results">
    {% if contacts %}
    <h3>Search Results</h3>
    {% for contact in contacts %}
    <table class="table">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Registration Number:"><span>{{ contact.registration_number }}</span></td>
            </tr>
            <tr>
                <td data-label="Mobile:"><span>{{ contact.mobile }}</span></td>
            </tr>
            <tr>
                <td data-label="Email:"><span>{{ contact.email }}</span></td>
            </tr>
            <tr>
                <td data-label="Address:"><span>{{ contact.address }}</span></td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}